#app .el-checkbox__inner {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: none;
  transition: none;
}
#app .el-table {
  background-color: rgba(255, 255, 255, 0);
  font-size: 12px;
}
#app .el-table td {
  border-bottom: 1px solid #c9cfd1;
}
#app .el-table th,
#app .el-table tr {
  background-color: rgba(255, 255, 255, 0);
}
#app .el-table__body tr:hover > td {
  background-color: rgba(255, 255, 255, 0);
}
#app .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #2d3436;
}
#app .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #fff;
}
#app .el-checkbox__input.is-checked .el-checkbox__inner::after,
#app .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
#app .el-table td,
#app .el-table th.is-leaf {
  border-bottom: 1px solid #c9cfd1;
}
#app .el-table .cell {
  line-height: 16px;
}
#app .el-table .sort-caret.ascending {
  display: none;
}
#app .el-table th.is-sortable .cell {
  border-radius: 10px;
}
#app .el-table th.is-sortable .cell .caret-wrapper {
  opacity: 0;
}
#app .el-table th.is-sortable .cell:hover {
  background-color: #f7f7f7;
}
#app .el-table th.is-sortable .cell:hover .caret-wrapper {
  opacity: 1;
}
#app .el-table--border::after,
#app .el-table--group::after,
#app .el-table::before {
  background-color: #c9cfd1;
}
#app .el-input__suffix,
#app .el-input__prefix {
  display: none;
}
#app .el-date-editor.el-input,
#app .el-date-editor.el-input__inner {
  width: 8rem;
}
#app .el-input--prefix .el-input__inner {
  padding: 0;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background-color: #959ea2;
}
#app .el-input__inner:hover {
  border-color: transparent;
}
#app .el-input.is-active .el-input__inner,
#app .el-input__inner:focus {
  border-color: transparent;
  background-color: #636e72;
}
#app .pagination-box .btn-prev {
  margin-left: -40px;
  padding-left: 50px;
  background: transparent;
  height: 34px;
  color: #000;
}
#app .pagination-box .btn-prev i {
  color: #000;
}
#app .pagination-box .btn-next {
  padding-right: 50px;
  background: transparent;
  height: 34px;
}
#app .pagination-box .btn-next i {
  color: #000;
}
#app .pagination-box .more {
  background: transparent;
  color: #000;
}
#app .pagination-box .number {
  background: transparent;
  color: #000;
  line-height: 30px;
  width: 34px;
  height: 34px;
  border: 2px solid transparent;
}
#app .pagination-box .active {
  border: 2px solid #a4a1a0;
  background: transparent;
  border-radius: 5px;
}
#app .from-complete-time .el-date-editor.el-input {
  width: 12rem;
}
#app .from-complete-time .el-input--prefix .el-input__inner {
  height: 1.7rem;
  background: #e8e8e8;
  color: #333;
}
/* 日期選擇器樣式 */
.el-date-table td span {
  width: 20px;
  height: 20px;
  display: block;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  left: 0;
  transform: translateX(0);
}
.el-date-table td.current:not(.disabled) span {
  color: #606266;
  background-color: #fdca6a;
}
.el-date-table td.today span {
  color: #606266;
  font-weight: 100;
}
.el-date-table td div {
  width: 20px;
  height: 20px;
  padding: 0;
}
.el-date-table td {
  width: 20px;
  height: 20px;
  padding: 0;
}
.el-input__inner {
  height: 2.4rem;
  line-height: 2.4rem;
}
.el-date-table th {
  padding: 0;
}
[aria-label='前一年'] {
  display: none;
}
[aria-label='后一年'] {
  display: none;
}
.el-date-picker .el-picker-panel__content {
  width: 160px;
  margin: 0 10px 5px;
}
.el-date-picker__header {
  background-color: #ffeaa7;
  margin: 0;
}
.el-date-picker__header-label {
  font-size: 12px;
  padding: 0;
  line-height: 30px;
  pointer-events: none;
}
.el-table .caret-wrapper {
  height: 24px;
}
.el-table .caret-wrapper .sort-caret {
  bottom: 5px;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  display: none;
}
.el-date-picker {
  width: 180px;
}
.el-picker-panel {
  border-radius: 10px;
  line-height: 18px;
}
/* 多選框 */
.selection {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.3rem;
  background-color: #fff;
  margin-left: 15px;
  cursor: pointer;
}
.selection.active {
  background-color: #000;
}
